.events__wrapper
  .container.events
    .row
      .col-md-12
        h3.events__title Upcoming Events
    .row
      .col-md-12
        #events_slider.event__slider.owl-carolusel
          div
            img.event__image(src='http://placehold.it/114x114')
            div.event__info
              span.event__name lorem impusm dolor  
              span.event__date 20 Nov 2016
            p.event__text Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
          div
            img.event__image(src='http://placehold.it/114x114')
            div.event__info
              span.event__name lorem impusm dolor  
              span.event__date 20 Nov 2016
            p.event__text Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
          div
            img.event__image(src='http://placehold.it/114x114')
            div.event__info
              span.event__name lorem impusm dolor  
              span.event__date 20 Nov 2016
            p.event__text Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.