.features-wrapper
  .container
    .row
      .col-md-4
        .feature 
          .feature__image
            img(src='images/animations.png')
          h3.feature__title Animation & Videos
          p.feature__description  
            | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod.
          a(href='#').feature__link more details
      .col-md-4
        .feature
          .feature__image
            img(src='images/presentations.png')
          h3.feature__title Presentations
          p.feature__description  
            | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod.
          a(href='#').feature__link more details
      .col-md-4
        .feature
          .feature__image
            img(src='images/distance.png')
          h3.feature__title Distance learning
          p.feature__description  
            | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod.
          a(href='#').feature__link more details
    .row
      .col-md-4
        .feature 
          .feature__image
            img(src='images/workspace.png')
          h3.feature__title Workspace
          p.feature__description  
            | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod.
          a(href='#').feature__link more details
      .col-md-4
        .feature
          .feature__image
            img(src='images/notes.png')
          h3.feature__title Notes
          p.feature__description  
            | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod.
          a(href='#').feature__link more details
      .col-md-4
        .feature
          .feature__image
            img(src='images/experts.png')
          h3.feature__title Esperts
          p.feature__description  
            | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod.
          a(href='#').feature__link more details
