.footer__wrapper
  footer.container.footer
    .row
      .col-md-12
        .logo.footer__logo NiloptalKalita
        .copyright
          | Copyright 
          i(class='fa fa-copyright', aria-hidden='true') 
          |  Niloptal - All rights reserved