.bground
  header.container.header
    .row
      .col-md-12
        .logo Classroom
        .nav-btn#nav_btn
          i.fa.fa-bars(aria-hidden='true')
        nav.nav#nav
          ul.nav__container
            li.nav__item
              a.nav__link(href='#') Courses
            li.nav__item
              a.nav__link(href='#') Admission
            li.nav__item
              a.nav__link(href='#') Distance Learning
            li.nav__item
              a.nav__link(href='#') Contact Us
        .social-links
          a.social-links__item(href='#')
            i.fa.fa-google-plus
          a.social-links__item(href='#')
            i.fa.fa-facebook
          a.social-links__item(href='#')
            i.fa.fa-twitter
        button.button.header__button Login
        .search-form
          input(type='text').search-form__input#search-form__input
          button.search-form__button#search_form__button
            i.fa.fa-search
