.container.search
  .row
    .col-md-12
      .search__caption Search Your Required Suject
  .row
    .col-md-4.col-sm-12
      .select
        .select__selected-option#selected_option(data-val='') select item
        .select__list
          .select__option(data-val='1') item1
          .select__option(data-val='2') item2
          .select__option(data-val='3') item3
          .select__option(data-val='4') item4
          .select__option(data-val='5') item5
          .select__option(data-val='6') item6
        button.select__button
    .col-md-4.col-sm-12
      .select
        .select__selected-option#selected_option(data-val='') select item
        .select__list
          .select__option(data-val='1') item1
          .select__option(data-val='2') item2
          .select__option(data-val='3') item3
          .select__option(data-val='4') item4
          .select__option(data-val='5') item5
          .select__option(data-val='6') item6
        button.select__button
    .col-md-4.col-sm-12
      button.button.search__button Submit

