//- .conteiner-fluid
  .row
    .col-md-12
#slider.slider.owl-carousel.owl-theme
  div
    div.slider__caption
      p the new learning experience
      p.inline-block register now
      a.slider__link.inline-block(href='#')
        i.fa.fa-angle-right(aria-hidden='true')
    img(src='images/slider-image.jpg') 
  div
    img(src='images/slider-image.jpg') 
  div 
    img(src='images/slider-image.jpg') 